
#header
{
    background-color:black;
    color:blue;
    text-align:center;
    padding:5px;
}
#nav_tab
{

    margin-top:45px;
    height: 100px;
    width: 12px;
    float:left;
    background-color: cadetblue;
    opacity: .1;

}

.nav_menu
{
    display: none;
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width: 175px;
    float:left;
    padding:5px;
}

.nav_menu li
{
    list-style: none;
}

#section
{
    width:1250px;
    height: 700px;
    float:left;
    padding:10px;
}

#footer
{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
